<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inside</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  Felicitaciones, entraste a un lugar en donde ni los desarrolladores saben como funciona. No nos hacemos responsables de tu información personal. Salu2
     
     <img src="../assets/img/oldman.jpg"/>
 
  <p>{{ data }}</p>
 
  <ion-button expand="full" (click)="loadSpecialInfo()">Load Special Info</ion-button>
  <ion-button expand="full" (click)="logout()">Logout</ion-button>
  <ion-button expand="full" (click)="clearToken()">Clear JWT</ion-button>
 
</ion-content>